@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&display=swap');
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    font-family: 'Inconsolata', monospace;
    -webkit-animation: fadeIn 1s ease-in-out;
    -moz-animation: fadeIn 1s ease-in-out;
    -o-animation: fadeIn 1s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}

img {
    max-width: 100%;
}

.fas {
    font-size: 20px;
    margin: 0 10px;
}

.header__btnMenu {
    background: transparent;
    border: none;
    left: 5px;
    top: 5px;
    position: absolute;
    z-index: 10;
    color: rgb(160, 160, 160);
    background: transparent;
    border: none;
    padding: 7px;
    border: 1px solid #e7b101;
    border-radius: 10%;
}

.header {
    width: 100%;
    clear: none;
    z-index: 100;
}

.header__nav ul {
    margin: 0;
    padding: 0;
}

.header__nav li {
    list-style-type: none;
    background: #03664d;
    text-align: center;
    border-bottom: 1px dotted #01503c;
}

.header__nav a {
    padding: 15px 0;
    text-transform: uppercase;
    font-family: 'Inconsolata', monospace;
    color: #18a582;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    display: block;
    transition: .5s ease;
}

.header__nav a:hover {
    color: #f5fffc;
}

.js .header__nav {
    position: absolute;
    z-index: 100;
    width: 100%;
    transition: max-height 1s;
}

.header_scroll {
    width: 100%;
    background-color: transparent;
    margin-top: 50px;
}

.header_scroll ul {
    margin: 30px 0 auto;
    padding: 0;
    text-align: center;
}

.header_scroll li {
    padding: 5px 5px;
    display: inline-block;
    border-bottom: 1px dotted rgb(75, 75, 75);
}

.header_scroll a {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    color: gray;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    transition: .5s ease;
}

.hero__imagem {
    display: none;
}

.hero__imagem{
    text-align: center;
}

.brief {
    margin: 10px auto;
    width: 90%;
}

.brief__work h2 {
    font-family: 'Asap', sans-serif;
    color: white;
    padding: 5px 0px;
    text-align: center;
    background-color: #077c5f;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
}

.brief__work_list h3 {
    background-color: #089b76;
    font-weight: 300;
    color: white;
    padding: 3px 0px;
    text-align: center;
}

.brief__work_list p {
    padding-bottom: 5px;
    border-bottom: 1px dotted #03664d;
}

footer{
    width: 100%;
    background-color: #01503c;
    color: white;
    text-align: center;
    padding: 5px 0;
    z-index: 100;
}

@media only screen and (min-width: 1024px) {
     .header__btnMenu {
        display: none;
    }
    .header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #03664d;
    }
    .header__nav {
        margin: 0 auto;
        width: 30%;
    }
    .header__nav ul {
        display: flex;
        background-color: #03664d;
        justify-content: center;
    }
    .header__nav a {
        font-size: 24px;
        letter-spacing: .1em;
        padding: 15px 40px;
    }
    .header__nav a:active {
        position: relative;
        top: 1px;
    }
    .header_scroll{
       margin-top: 60px;
    }
    .header_scroll li{
        margin: 10px;
        font-size: 30px;
    }
    .header_scroll a:hover {
        color: darkslategray;
    }
    .header_scroll a:active {
        position: relative;
        top: 1px;
    }
    .hero {
        margin: 20px auto;
        width: 80%;
        display: flex;
        flex-direction: row;
    }
    .hero__imagem {
        display: flex;
        flex-direction: column;;
        padding: 30px;
        width: 25%; 
        position: fixed;
    }
    .hero__imagem img {
        border-radius: 0%;
        padding: 5px;
        border: 1px solid #e7b101;
    }
    .hero__imagem p{
        text-align: center;
    }
    .brief {
        margin: 10px auto;
        margin-left: 500px;
    }
}