@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&display=swap');
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    font-family: 'Inconsolata', monospace;
    -webkit-animation: fadeIn 1s ease-in-out;
    -moz-animation: fadeIn 1s ease-in-out;
    -o-animation: fadeIn 1s ease-in-out;
    animation: fadeIn 1s ease-in-out;
    overflow-x: hidden;
    position: relative;
    height: 100vh;
}

img {
    max-width: 100%;
}

a {
    font-size: 0;
    text-decoration: none;
}

.header {
    width: 100%;
    clear: none;
    z-index: 100;
    position: relative;
}

.header__nav ul {
    margin: 0;
    padding: 0;
}

.header__nav li {
    list-style-type: none;
    background: #03664d;
    text-align: center;
    border-bottom: 1px dotted #01503c;
}

.header__nav a {
    padding: 15px 0;
    text-transform: uppercase;
    font-family: 'Inconsolata', monospace;
    color: #18a582;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    display: block;
    transition: .5s ease;
}

.header__nav a:hover {
    color: #f5fffc;
}

.header__btnMenu {
    background: transparent;
    border: none;
    left: 5px;
    top: 5px;
    font-size: 16px;
    position: absolute;
    z-index: 10;
    color: rgb(160, 160, 160);
    background: transparent;
    border: none;
    font-size: 16px;
    padding: 7px;
    border: 1px solid #e7b101;
    border-radius: 10%;
}

.trabalhos {
    width: 100vw;
    height: 56.25vw;    
    position:relative;
}

.trabalhos_box{
    width: 100vw;
    padding:56.25% 0 0 0;
    background-color: black;
    scale: 1.4;
}

.trabalhos_box_button {
    font-size: 16px;
    top: 40%;
    position: absolute;
    left: 0;
    text-align: center;
    right: 0;
    margin: 0 auto;
    color: white;    
    background-color: #03664d;
    width: 150px;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
}

.trabalhos_box_button:hover{
    color: #03664d;    
    background-color: white;
}

.trabalhos_box iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%; 
    opacity: .3;
}

.trabalhos_box_line{
    background-color: white;
    height: 70px;
    width: 100vw;
    position: relative;
    transform: translateY(5px);
}
.trabalhos img {
    width: 100%;
}
.trabalhos p {
    color: #18a582;
    padding: 5px 0;
    margin: 0;
    background-color: #03664d;
}
.trabalho__thumb__vertical {
    display: none;
}
.hero {
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 100px;
    width: 90%;
    position: absolute;
}
.hero__texto h1 {
    text-align: center;
    margin: 0;
}
.hero__texto__henrique {
    font-weight: 500;
    font-family: 'Asap', sans-serif;
    color: #1f1f1f;
    text-transform: uppercase;
    font-size: 37px;
}
.hero__texto__lapa {
    text-transform: uppercase;
    color: #03664d;
    font-family: 'Asap', sans-serif;
    font-size: 37px;
    margin: 10px auto;
    font-weight: 700;
}
.hero__texto p {
    margin: 10px auto;
    text-align: center;
}
.hero__imagem {
    margin: 0 auto;
    padding-top: 10px;
    width: 270px;
    height: auto;
}
.hero__imagem img {
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #e7b101;
}
.hero__texto__button {
    display: none;
}
.js .header__nav {
    position: absolute;
    width: 100%;
    transition: max-height 1s;
}

footer {
    color: #18a582;
    background-color: #03664d;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    bottom: 0;
    margin-bottom: 0;
    position: absolute;
}

@media only screen and (min-width: 768px) {
    .trabalho__thumb__horizontal {
        display: none;
    }
    .trabalho__thumb__vertical {
        display: block;
    }
    .trabalhos_box{
        scale: 1;
    }
    .trabalhos_box_line{
        height: 100px;
        width: 100vw;
        position: relative;
        transform: translateY(-100px);
    }
    .trabalhos_box_button {
        font-size: 26px;
        top: 45%;
        width: 250px;
        padding: 15px;
    }
    .trabalhos img {
        width: 100%;
    }
    .trabalhos p {
        color: #18a582;
        padding: 5px 0;
        margin: 0;
        background-color: #03664d;
    }
    .hero {
        margin: 50px auto 52px;
        width: 70%;
        position: relative;
        display: flex;
        gap: 20px;
        bottom: 0;
        align-items: center;
    }
    .hero__texto {
        width: 40%;
    }
    .hero__texto__lapa {
        font-size: 45px;
    }
    .hero__imagem {
        width: 50%;
    }
    .hero__texto__henrique {
        font-size: 45px;
    }
 
}

@media only screen and (min-width: 1024px) {
    .header__btnMenu {
        display: none;
    }
    .header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #03664d;
    }
    .header__nav {
        margin: 0 auto;
        width: 30%;
    }
    .header__nav ul {
        display: flex;
        background-color: #03664d;
        justify-content: center;
    }
    .header__nav a {
        font-size: 22px;
        letter-spacing: .1em;
        padding: 15px 40px;
    }
    .header__nav a:active {
        position: relative;
        top: 1px;
    }
    .trabalhos {
        margin: -50px auto 0px;
    }
    .trabalhos__thumb {
        transition: all;
    }
    .trabalhos__thumb:hover {
        opacity: .7;
        cursor: pointer;
    }
    .hero__texto h1 {
        text-align: center;
        margin: 0;
    }
    .hero__texto__henrique {
        font-size: 55px;
    }
    .hero__texto__lapa {
        font-size: 60px;
    }
    .hero__texto p {
        font-size: 20px;
        line-height: 1.5em;
    }
    .hero__imagem {
        align-self: center;
        margin: 0 auto;
        padding-top: 10px;
        width: auto;
        height: auto;
    }
    .hero__imagem img {
        border-radius: 0%;
        padding: 5px;
        border: 1px solid #e7b101;
    }
    .hero__texto__button {
        display: block;
        margin: 0 auto;
        border: none;
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 20px;
        background-color: #03664d;
        transition: all .5s;
    }
    .hero__texto__button:hover {
        background-color: #01926e;
        cursor: pointer;
    }
    .hero__texto__button:active {
        position: relative;
        top: 1px;
    }
    
    footer {
        position: relative;
    }
}