@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&display=swap');
body {
    font-family: 'Inconsolata', monospace;
}

img {
    max-width: 100%;
}

.header {
    width: 100%;
    clear: none;
}

.header__nav ul {
    margin: 0;
    padding: 0;
}

.header__nav li {
    list-style-type: none;
    background: #03664d;
    text-align: center;
    border-bottom: 1px dotted #01503c;
}

.header__nav a {
    padding: 15px 0;
    text-transform: uppercase;
    font-family: 'Inconsolata', monospace;
    color: #18a582;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    display: block;
    transition: .5s ease;
}

.header__nav a:hover {
    color: #f5fffc;
}

.header__btnMenu {
    background: transparent;
    border: none;
    left: 10px;
    top: 5px;
    font-size: 16px;
    position: absolute;
    color: rgb(160, 160, 160);
    background: transparent;
    border: none;
    font-size: 16px;
    padding: 7px;
    border: 1px solid #e7b101;
    border-radius: 10%;
}

.hero {
    margin: 50px auto 20px;
    width: 90%;
}

.hero__texto h1 {
    text-align: center;
    margin: 0;
}

.hero__texto__henrique {
    font-weight: 500;
    font-family: 'Asap', sans-serif;
    color: #1f1f1f;
    text-transform: uppercase;
    font-size: 37px;
}

.hero__texto__lapa {
    text-transform: uppercase;
    color: #03664d;
    font-family: 'Asap', sans-serif;
    font-size: 37px;
    margin: 10px auto;
    font-weight: 700;
}

.hero__texto p {
    margin: 10px auto;
    text-align: center;
}

.hero__imagem {
    margin: 0 auto;
    padding-top: 10px;
    width: 270px;
    height: auto;
}

.hero__imagem img {
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #e7b101;
}

.hero__texto__button {
    display: none;
}

.js .header__nav {
    transition: max-height 1s;
}

footer {
    color: #18a582;
    background-color: #03664d;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    bottom: 0;
    margin-bottom: 0;
}

@media only screen and (min-width: 375px) {
    .hero {
        margin: 50px auto 20px;
        width: 80%;
    }
    .hero__texto__henrique {
        font-size: 40px;
    }
    .hero__texto__lapa {
        font-size: 40px;
    }
}

@media only screen and (min-width: 425px) {
    .hero {
        margin: 50px auto 20px;
        width: 70%;
    }
    .hero__texto__henrique {
        font-size: 42px;
    }
    .hero__texto__lapa {
        font-size: 42px;
    }
}

@media only screen and (min-width: 768px) {
    .hero {
        margin: 50px auto 52px;
        width: 70%;
    }
    .hero__texto__henrique {
        font-size: 45px;
    }
    .hero__texto__lapa {
        font-size: 45px;
    }
}

@media only screen and (min-width: 1024px) {
    .header__btnMenu {
        display: none;
    }
    .header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #03664d;
    }
    .header__nav {
        margin: 0 auto;
        width: 60%;
    }
    .header__nav ul {
        display: flex;
        justify-content: space-around;
    }
    .header__nav a {
        font-size: 25px;
        letter-spacing: .1em;
    }
    .header__nav a:active {
        position: relative;
        top: 1px;
    }
    .hero {
        margin: 75px auto;
        width: 70%;
        height: 75vh;
        display: grid;
        grid-gap: 70px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1;
        justify-self: center;
        justify-content: center;
        align-content: center;
    }
    .hero__texto {
        grid-column: 1 /2;
        align-self: center;
        justify-content: center;
    }
    .hero__texto h1 {
        text-align: center;
        margin: 0;
    }
    .hero__texto__henrique {
        font-size: 55px;
    }
    .hero__texto__lapa {
        font-size: 60px;
    }
    .hero__texto p {
        font-size: 20px;
        line-height: 1.5em;
    }
    .hero__imagem {
        align-self: center;
        margin: 0 auto;
        padding-top: 10px;
        width: auto;
        height: auto;
    }
    .hero__imagem img {
        border-radius: 0%;
        padding: 5px;
        border: 1px solid #e7b101;
    }
    .hero__texto__button {
        display: block;
        margin: 0 auto;
        border: none;
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 20px;
        background-color: #03664d;
    }
    .hero__texto__button:hover {
        background-color: #01926e;
        cursor: pointer;
    }
    .hero__texto__button:active {
        position: relative;
        top: 1px;
    }
}